<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.king.dao.PermissionMapper">

    <resultMap id="Permissions1" type="cn.king.pojo.Permission">
        <id property="id" column="id"/>
        <result property="permissionName" column="permission_name"/>
    </resultMap>


    <select id="selectAllPermissions" resultMap="Permissions1">
        SELECT
            id,
            permission_name,
            pid,
            url,
            icon,
            remark
        FROM
            t_permission
    </select>

</mapper>
